Import libraries
---

In [9]:
import pandas as pd

Import I-10 data
---

In [10]:
i10 = pd.read_csv('../data/10-605_24hr.csv')

len(i10)

2699

**Rename columns as neccessary**

In [11]:
i10.columns = [column_name.replace('target', 'after_incident') for column_name in i10.columns]

i10.head()

,tweet,username,after_incident
0,Terrebonne: Gray: The LA 660 Coteau Rd Bridge ...,Houma_Traffic,1
1,"Western State East Standings: 1. Citrus 22-6, ...",sgnlthelgthoops,1
2,South Coast North Standings: 1. East Los Angel...,sgnlthelgthoops,1
3,All lanes are open I-10 East at mile marker 12...,Laf_Traffic,1
4,The exit ramp I-10 East at mile marker 121 (Bu...,Laf_Traffic,1

Import CA-2 data
---

In [12]:
ca2 = pd.read_csv('../data/ca2_2017_2020.csv')

ca2.head()

,tweet,username,after_incident
0,10092-10088 Constellation Blvd 10092-10088 Con...,arnoldbprice,1
1,anyway we were on constellation blvd listening...,centralsiberia,1
2,Now you can pick up some #matcha #lipbalm cons...,essanceskincare,1
3,"Just Listed! 1500 W 101st St Los Angeles, CA 2...",TBKS_1986,1
4,1) I'm Salvadorean born and raised in Los Ange...,Lobos98986565,1

Combine I-10 and CA-2 data
---

In [13]:
df = pd.concat([i10, ca2], axis=0)
df.head()

,tweet,username,after_incident
0,Terrebonne: Gray: The LA 660 Coteau Rd Bridge ...,Houma_Traffic,1
1,"Western State East Standings: 1. Citrus 22-6, ...",sgnlthelgthoops,1
2,South Coast North Standings: 1. East Los Angel...,sgnlthelgthoops,1
3,All lanes are open I-10 East at mile marker 12...,Laf_Traffic,1
4,The exit ramp I-10 East at mile marker 121 (Bu...,Laf_Traffic,1

Reset index of combined data
---

In [14]:
df.reset_index(inplace=True, drop=True)
df

,tweet,username,after_incident
0,Terrebonne: Gray: The LA 660 Coteau Rd Bridge ...,Houma_Traffic,1
1,"Western State East Standings: 1. Citrus 22-6, ...",sgnlthelgthoops,1
2,South Coast North Standings: 1. East Los Angel...,sgnlthelgthoops,1
3,All lanes are open I-10 East at mile marker 12...,Laf_Traffic,1
4,The exit ramp I-10 East at mile marker 121 (Bu...,Laf_Traffic,1
...,...,...,...
4851,Cinema Under the Stars is a free outdoor famil...,WestwoodVillage,0
4852,#TBT when the LA Film Fest hosted a series of ...,WestwoodVillage,0
4853,#TBT when the LA Film Fest hosted a series of ...,WestwoodVillage,0
4854,the people bridge over Ave of the Stars - look...,kstny,0
4855,Meet us tomorrow 11-2pm 1800 Ave of the Stars....,arun90525168,0

Save to CSV
---

In [15]:
df.to_csv('../data/combined_incident_data.csv', index = False)